{% extends 'shared/main_.html' %}
{% load static %}
{% load BlogTT %}
{% block title %}مقالات{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside">
                <div class="mod_article first last block" id="article-85">
                    <!-- indexer::stop -->
                    <div class="mod_newsarchive block">
                        <div class="news_teaser-container">
                            <div class="news_teaser-filters-wrap">
                                <a href="" class="news_teaser-filter-button offcanvas-open"><span><svg
                                        xmlns="http://www.w3.org/2000/svg" width="18.273" height="19.679"
                                        viewBox="0 0 18.273 19.679">
<path id="funnel-fill"
      d="M1.5,1.7A.7.7,0,0,1,2.2,1H19.071a.7.7,0,0,1,.7.7V4.514a.7.7,0,0,1-.18.469l-6.146,6.829v6.758a.7.7,0,0,1-.481.666L8.75,20.643a.7.7,0,0,1-.925-.666V11.812L1.68,4.984a.7.7,0,0,1-.18-.469Z"
      transform="translate(-1.5 -5)" fill="#3b3b3b"/>
</svg></span>فیلترها</a>
                            </div>
                            <!---POPUP Starts Below-->
                            <div class="additional-filters-container">
                                <div class="filters-container_title-row">
                                    <h4 class="filters-container_title">فیلترها</h4>
                                    <a href="" class="news_teaser-filter clear-filter-button offcanvas-close"
                                       data-filter="*"></a>
                                </div>
                                <div class="filters-container_filter-row">
                                    <h5 class="filters-container_filter-title">دسته بندی ها</h5>
                                    <ul class="news_teaser-filters-list offcanvas-filter-list">
                                        {% for b in category %}
                                            <li><a href="{% url 'blog:categoryList' b.slug %}"
                                                   class="news_teaser-filter select-filter-button offcanvas-close"
                                                   data-filter="public-private">{{ b.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="filters-container_filter-row">
                                    <h5 class="filters-container_filter-title">برچسب ها</h5>
                                    <ul class="news_teaser-filters-list offcanvas-filter-list">
                                        {% for c in tag %}
                                        <li><a href="{% url 'blog:tagList' c.slug %}"
                                               class="news_teaser-filter select-filter-button offcanvas-close"
                                               data-filter="references">{{ c.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>
                            <div class="news_teaser-wrap">
                                <div class="news_teaser arc_3 block featured featured_first first even has-image case-studies parking"
                                     data-filter='case-studies parking' itemscope itemtype="http://schema.org/Article">
                                    <div class="news_teaser-image-wrap">
                                        <picture>
                                            <img src="{{ first.image.url }}"
                                                 width="810" height="350" alt="{{ first.title }}" loading="lazy" itemprop="image">
                                        </picture>
                                    </div>
                                    <div class="news_teaser-content-wrap">
                                    <span class="tag-chain tag-chain-item">
                                        {{ first.category.first }}
                                    </span>
                                        <h2 itemprop="name"><a href="{% url 'blog:SinglePost' first.slug %}"
                                                               itemprop="url"><span itemprop="headline">{{ first.title }}</span></a>
                                        </h2>
                                        <div class="ce_text block" itemprop="description">
                                            <p>دسته : {% for e in first.category.all %} {{ e.title }}, {% endfor %}</p></div>
                                        <p class="more"><a href="en/blog/os-10-coating-in-the-car-park.html"
                                                           itemprop="url">مطالعه<span class="invisible"> {{ first.title }}</span></a>
                                        </p>
                                    </div>
                                </div>
                            {% for r in blog %}
                                <div class="news_teaser arc_3 block odd has-image logistics industry manufacturing"
                                     data-filter='logistics industry manufacturing' itemscope
                                     itemtype="http://schema.org/Article">
                                    <figure class="image_container float_above">
                                        <a href="{% url 'blog:SinglePost' r.slug %}">
                                            <picture>
                                                <img src="{{ r.image.url }}"
                                                     width="395" height="350" alt="{{ r.title }}" loading="lazy" itemprop="image">
                                            </picture>
                                        </a>
                                    </figure>
                                    <div class="news_teaser-content-wrap">
<span class="tag-chain tag-chain-item">
{{ r.category.first }}        </span>
                                        <h2 itemprop="name"><a
                                                href="{% url 'blog:SinglePost' r.slug %}"
                                                itemprop="url"><span itemprop="headline">{{ r.title }}</span></a>
                                        </h2>
                                        <p class="more"><a
                                                href="{% url 'blog:SinglePost' r.slug %}"
                                                itemprop="url"></a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- indexer::continue -->
                </div>
            </div>
        </main>
    </div>
{% endblock %}