{% extends 'shared/main_.html' %}
{% load static %}
{% load BlogTT %}
{% block title %}مقاله | {{ object.title }}{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside rtl">
                <div class="mod_article first last block" id="article-85">
                    <div class="mod_newsreader block">
                        <div class="news_full block has-image" itemscope itemtype="http://schema.org/Article">
                            <div class="news-header">
                                <div class="ce_headerimage header-type2 block">
                                    <div class="wrapper header-2-col-wrapper">
                                        <div class="header-left-column">
                                            <figure class="image_container float_above">
                                                <picture>
                                                    <img src="{{ object.image.url }}"
                                                         width="625" height="750" alt="{{ object.title }}"
                                                         itemprop="image">
                                                </picture>
                                            </figure>
                                        </div>
                                        <div class="header-right-column">
                                            <div class="text-content-wrap">
                                                <ul class="tag-chain">
                                                    <li class="tag-chain-item first fnt-size-14">
                                                        {% for t in object.category.all %}{{ t.title }}{% endfor %}
                                                    </li>
                                                    <li class="d-inline-block">
                                                        {% for y in object.category.all %}

                                                            <div class="d-inline-block">
                                                                <a class="text-decoration-none fnt-size-18"
                                                                   href="{% url 'blog:categoryList' y.slug %}">
                                                                    <h2 class="Y2IQFc" lang="en">
                                                                        {{ y.title }}
                                                                    </h2>
                                                                </a>
                                                            </div>

                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                                <h1>{{ object.title }}</h1>
                                                <div class="teaser pb-15">
                                                    <p><span class="Y2IQFc" lang="en">
                                                            تاریخ انتشار: {{ object.jpublish }}
                                                    </span>
                                                    </p>
                                                    <p><span class="" lang="en">
                                                            تاریخ بروزسانی: {{ object.jupdatedDate }}
                                                    </span>
                                                    </p>
                                                </div>
                                                <div style="border-top: 2px solid #3B3B3B;padding-top: 2.77em;">
                                                    {% for u in object.tag.all %}
                                                        <div>
                                                            <a class="fnt-sz-25 text-decoration-none" href="{% url 'blog:tagList' u.slug %}">
                                                                <h2 class="Y2IQFc"

                                                                    lang="en">{{ u.title }}
                                                                </h2>
                                                            </a>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ce_separation block">
                                <div class="wrapper">
                                    {% for y in object.category.all %}
                                        <div>
                                            <a href="{% url 'blog:categoryList' y.slug %}">
                                                <h2 class="Y2IQFc"

                                                    lang="en">{{ y.title }}
                                                </h2>
                                            </a>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                            <div class="ce_fulltext block">
                                <div class="wrapper">
                                    <p>
                                        {{ object.body|safe }}
                                    </p></div>
                            </div>
                        </div>
                        <!-- indexer::stop -->
                        <div class="back-button-section">
                            <div class="inside">
                                <a class="back-btn" href="{% url 'blog:PostList' %}" title="Go back">
                                    <svg id="arrow-back" xmlns="http://www.w3.org/2000/svg" width="16.5" height="17.65">
                                        <path data-name="Path 1591"
                                              d="m8.82 17.65 1.27-1.27-6.65-6.65H16.5v-1.8H3.44l6.65-6.65L8.82 0 0 8.83Z"
                                              fill="#3b3b3b"/>
                                    </svg>
                                    بلاگ</a>
                            </div>
                        </div>
                        <!-- indexer::continue -->
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}