{% extends 'shared/main_.html' %}
{% load static %}
{% block title %}پروژه های | {{ object.title }}{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
<div id="container">
        <main id="main">
            <div class="inside">
                <div class="mod_article first last block" id="article-85">
                    <!-- indexer::stop -->
                    <div class="mod_newsarchive block">
                        <div class="news_teaser-container">
                            <div class="mb-10">
                                <h1 class="h1">{{ object.title }}</h1>
                            </div>
                            <!---POPUP Starts Below-->
                            <div class="news_teaser-wrap">

                                {% for r in object_list %}
                                    <div class="news_teaser arc_3 block odd has-image logistics industry manufacturing"
                                         data-filter='logistics industry manufacturing' itemscope
                                         itemtype="http://schema.org/Article">
                                        <figure class="image_container float_above">
                                            <a href="{% url 'project:Project' r.slug %}">
                                                <picture>
                                                    <img src="{{ r.image.url }}"
                                                         width="395" height="350" alt="{{ r.title }}" loading="lazy"
                                                         itemprop="image">
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="news_teaser-content-wrap">
                                                <span class="tag-chain tag-chain-item"><a href="{% url 'project:CategoryList' r.category.first.slug %}">
                                                {{ r.category.first }}</a></span>
                                            <h2 itemprop="name"><a
                                                    href="{% url 'project:Project' r.slug %}"
                                                    itemprop="url"><span itemprop="headline">{{ r.title }}</span></a>
                                            </h2>
                                            <p class="more"><a
                                                    href="{% url 'project:Project' r.slug %}"
                                                    itemprop="url"></a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- indexer::continue -->
                </div>
            </div>
        </main>
    </div>
{% endblock %}