<div class="card">
    <!--begin::Card body-->
    <div class="card-body">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-xl-row p-7">
            <!--begin::Content-->
            <div class="flex-lg-row-fluid me-xl-15 mb-20 mb-xl-0">
                <!--begin::Ticket view-->
                <div class="mb-0 main-comment-section">
                    <!--begin::Details-->
                    <div class="mb-15">
                        <!--begin::Input group-->
                        <div class="mb-0">
                            <form method="post" class="comment-form">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                {% if request.user.is_authenticated %}
                                    <button
                                            class="btn btn-primary mt-n20 mb-20 position-relative float-end me-7"><span
                                            class="btn-title">ارسال دیدگاه <i
                                            class="arrow flaticon-play-button-1"></i></span></button>
                                {% else %}
                                    <button class="btn btn-primary mt-n20 mb-20 position-relative float-end me-7"
                                            disabled><span class="btn-title">ابتدا وارد شوید <i
                                            class="arrow flaticon-play-button-1"></i></span></button>
                                {% endif %}
                            </form>
                            <!--end::Submit-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Details-->
                    <!--begin::Comments-->
                    {% for a in comments %}
                        <div class="mb-15">
                            {% if a.status == 'p' %}
                                <!--begin::Comment-->
                                <div class="mb-9">
                                    <!--begin::Card-->
                                    <div class="card card-bordered w-100">
                                        <!--begin::Body-->
                                        <div class="card-body">
                                            <!--begin::Wrapper-->
                                            <div class="w-100 d-flex flex-stack mb-8">
                                                <!--begin::Container-->
                                                <div class="d-flex align-items-center f">
                                                    <!--begin::Author-->
                                                    <div class="symbol symbol-50px me-5">
                                                        <img src="{{ a.user.image.url }}" alt="{% if a.user.get_full_name %}
                                                                    {{ a.user.get_full_name }}{% else %}
                                                                    {{ a.user }}{% endif %}"
                                                             class="symbol-label fs-1 fw-bolder bg-light-info text-info">
                                                    </div>
                                                    <!--end::Author-->
                                                    <!--begin::Info-->
                                                    <div class="d-flex flex-column fw-bold fs-5 text-gray-600 text-dark">
                                                        <!--begin::Text-->
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Username-->
                                                            <p class="text-gray-800 fw-bolder text-hover-primary fs-5 me-3">
                                                                {% if a.user.get_full_name %}
                                                                    {{ a.user.get_full_name }}{% else %}
                                                                    {{ a.user }}{% endif %}</p>
                                                            <!--end::Username-->
                                                            {% for b in a.user.role.all %}
                                                                <span class="badge badge-light-danger">{{ b.title }} </span>
                                                            {% endfor %}
                                                        </div>
                                                        <!--end::Text-->
                                                        <!--begin::Date-->
                                                        <span class="text-muted fw-bold fs-6">{{ a.jpublish }}</span>
                                                        <!--end::Date-->
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Container-->
                                                <!--begin::Actions-->
                                                <div class="m-0">
                                                    <a type="button" class="reply-btn"><i
                                                            class="las la-reply fs-2qx"></i></a>
                                                </div>
                                                <!--end::Actions-->
                                            </div>
                                            <!--end::Wrapper-->
                                            <!--begin::Desc-->
                                            <p class="fw-normal fs-5 text-gray-700 m-0">{{ a.body }}</p>
                                            <!--end::Desc-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Card-->
                                </div>
                            {% endif %}
                            <!--end::Comment-->
                            <!--begin::Comment-->
                        </div>
                        <div class="mb-15 replied-comments mt-5">
                            <!--begin::Input group-->
                            <div class="mb-0">
                                <form method="post" class="reply-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ a.id }}">
                                    {{ comment_form.as_p }}
                                    {% if request.user.is_authenticated %}
                                        <button
                                                class="btn btn-primary mt-n20 mb-20 position-relative float-end me-7"><span
                                                class="btn-title">ارسال دیدگاه <i
                                                class="arrow flaticon-play-button-1"></i></span></button>
                                    {% else %}
                                        <button class="btn btn-primary mt-n20 mb-20 position-relative float-end me-7"
                                                disabled><span class="btn-title">ابتدا وارد شوید <i
                                                class="arrow flaticon-play-button-1"></i></span></button>
                                    {% endif %}
                                </form>
                                <!--end::Submit-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        {% for c in a.Reply.all %}
                            <div class="ms-10 mb-15">
                                {% if c.status == 'p' %}
                                    <!--begin::Comment-->
                                    <div class="mb-9">
                                        <!--begin::Card-->
                                        <div class="card card-bordered w-100">
                                            <!--begin::Body-->
                                            <div class="card-body">
                                                <!--begin::Wrapper-->
                                                <div class="w-100 d-flex flex-stack mb-8">
                                                    <!--begin::Container-->
                                                    <div class="d-flex align-items-center f">
                                                        <!--begin::Author-->
                                                        <div class="symbol symbol-50px me-5">
                                                            <img src="{{ c.user.image.url }}" alt="{{ c.user }}"
                                                                 class="symbol-label fs-1 fw-bolder bg-light-info text-info">
                                                        </div>
                                                        <!--end::Author-->
                                                        <!--begin::Info-->
                                                        <div class="d-flex flex-column fw-bold fs-5 text-gray-600 text-dark">
                                                            <!--begin::Text-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Username-->
                                                                <p class="text-gray-800 fw-bolder text-hover-primary fs-5 me-3">
                                                                    {% if c.user.get_full_name %}
                                                                        {{ c.user.get_full_name }}{% else %}
                                                                        {{ c.user }}{% endif %}</p>
                                                                <!--end::Username-->
                                                                {% for d in c.user.role.all %}
                                                                    <span class="badge badge-light-danger">{{ d.title }} </span>
                                                                {% endfor %}
                                                            </div>
                                                            <!--end::Text-->
                                                            <!--begin::Date-->
                                                            <span class="text-muted fw-bold fs-6">{{ c.jpublish }}</span>
                                                            <!--end::Date-->
                                                        </div>
                                                        <!--end::Info-->
                                                    </div>
                                                    <!--end::Container-->
                                                </div>
                                                <!--end::Wrapper-->
                                                <!--begin::Desc-->
                                                <p class="fw-normal fs-5 text-gray-700 m-0">{{ c.body }}</p>
                                                <!--end::Desc-->
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::Card-->
                                    </div>
                                {% endif %}
                                <!--end::Comment-->
                                <!--begin::Comment-->
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <!--end::Comments-->
                    <!--begin::Pagination-->

                    <!--end::Pagination-->
                </div>
                <!--end::Ticket view-->
            </div>
            <!--end::Content-->
            <!--begin::Sidebar-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Card body-->
</div>
