{% extends 'shared/main.html' %}
{% load static %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block title %}درباره ما{% endblock %}
{% block meta %}

{% endblock %}
{% block content %}
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <div class="content flex-row-fluid mt-20" id="kt_content">
            <!--begin::About card-->
            <div class="card" style="background: #C5C4BE;">
                <!--begin::Body-->
                <div class="card-body p-lg-17">
                    <!--begin::About-->
                    <div class="mb-18">
                        <!--begin::Wrapper-->
                        <div class="mb-10">
                            <!--begin::Top-->
                            <div class="text-center mb-15">
                                <!--begin::Title-->
                                <h3 class="fs-2hx text-dark mb-5">درباره ما</h3>
                                <!--end::Title-->
                            </div>
                            <!--end::Top-->
                            <!--begin::Overlay-->
                            <div class="overlay">
                                <!--begin::Image-->
                                <img class="w-100 card-rounded"
                                     src="{{ object.image.url }}" alt="درباره ما">
                                <!--end::Image-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Description-->
                        <div class="fs-5 fw-bold text-gray-600">
                            <!--begin::Text-->
                            <p class="mb-8">{{ object.body|truncatewords_html:300|safe }}</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::About-->
                    <!--begin::Statistics-->
                    <div class="card  mb-18" style="background: #3B3B3B">
                        <!--begin::Body-->
                        <div class="card-body py-15">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-center">
                                <!--begin::Items-->
                                <div class="row d-flex- justify-content-center ">
                                    <div class="col-lg-4 col-md-4 col-12 ">
                                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-auto my-5">
                                            <!--begin::Content-->
                                            <div class="text-center">
                                                <!--begin::Symbol-->
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                                <i class="bi bi-award fs-3x text-warning"></i>
                                                <!--end::Svg Icon-->
                                                <!--end::Symbol-->
                                                <!--begin::Text-->
                                                <div class="mt-1">
                                                    <!--begin::Animation-->
                                                    <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                        <div class="min-w-70px counted" data-kt-countup="true"
                                                             data-kt-countup-value="0"> بیش از{{ project }}
                                                        </div>
                                                    </div>
                                                    <!--end::Animation-->
                                                    <!--begin::Label-->
                                                    <span class="text-gray-600 fw-bold fs-5 lh-0">پروژه</span>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Text-->
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!--begin::Item-->
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-auto ">
                                            <!--begin::Content-->
                                            <div class="text-center">
                                                <!--begin::Symbol-->
                                                <!--begin::Svg Icon | path: icons/duotune/graphs/gra008.svg-->
                                                <i class="bi bi-person-video3 fs-3x text-primary"></i>
                                                <!--end::Svg Icon-->
                                                <!--end::Symbol-->
                                                <!--begin::Text-->
                                                <div class="mt-1">
                                                    <!--begin::Animation-->
                                                    <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                        <div class="min-w-50px counted" data-kt-countup="true"
                                                             data-kt-countup-value="0"> بیش از{{ costumer }}
                                                        </div>
                                                    </div>
                                                    <!--end::Animation-->
                                                    <!--begin::Label-->
                                                    <span class="text-gray-600 fw-bold fs-5 lh-0">طرف قرارداد</span>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Text-->
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-auto my-5">
                                            <!--begin::Content-->
                                            <div class="text-center">
                                                <!--begin::Symbol-->
                                                <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                                                <i class="bi bi-clock-history fs-3x text-info"></i>
                                                <!--end::Svg Icon-->
                                                <!--end::Symbol-->
                                                <!--begin::Text-->
                                                <div class="mt-1">
                                                    <!--begin::Animation-->
                                                    <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                        <div class="min-w-50px counted" data-kt-countup="true"
                                                             data-kt-countup-value="0"> بیش از{{ object.history }}
                                                        </div>
                                                    </div>
                                                    <!--end::Animation-->
                                                    <!--begin::Label-->
                                                    <span class="text-gray-600 fw-bold fs-5 lh-0">سابقه کاری</span>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Text-->
                                            </div>
                                            <!--end::Content-->
                                        </div>

                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Testimonial-->
                            <div class="fs-2 fw-bold text-muted text-center mb-3">
                                <span class="fs-1 lh-1 text-gray-700"></span>{{ object.admin_message }}
                            </div>
                            <!--end::Testimonial-->
                            <!--begin::Author-->
                            <div class="fs-2 fw-bold text-muted text-center">
                                <h3
                                        class="fs-4 fw-bolder">بهنام سعیدی</h3>
                                <span class="fs-4 fw-bolder text-gray-600">مدیر عامل شرکت تورک پارکر</span>
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Section-->
                    <div class="mb-16">
                        <!--begin::Top-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->

                            <!--end::Title-->
                            <!--begin::Text-->

                            <!--end::Text-->
                        </div>
                        <!--end::Top-->
                        <!--begin::Row-->


                    </div>
                    <!--end::Section-->
                    <!--begin::Team-->
                    <div class="mb-18">
                        <!--begin::Heading-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">اعضای تیم ما</h3>
                            <!--end::Title-->
                            <!--begin::Sub-title-->
                            <!--end::Sub-title=-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Slider-->
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 gy-10">
                                                {% for a in object.our_team.all %}
													<!--begin::Item-->
													<div class="col text-center mb-9">
														<!--begin::Photo-->
														<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url({{ a.image.url }})"></div>
														<!--end::Photo-->
														<!--begin::Person-->
														<div class="mb-0">
															<!--begin::Name-->
															<a href="/metronic8/demo1/../demo1/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3"> {% if a.get_full_name %}
                                                    {{ a.get_full_name }}{% else %}
                                                    {{ a }}{% endif %}</a>
															<!--end::Name-->
															<!--begin::Position-->
															<div class="text-muted fs-6 fw-semibold">Development Lead</div>
															<!--begin::Position-->
														</div>
														<!--end::Person-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													{% endfor %}
													<!--end::Item-->
												</div>


                        <!--end::Slider-->
                    </div>
                    <!--end::Team-->
                    <!--begin::Card-->
                    <div class="card mb-4 text-center" style="background: #3B3B3B">
                        <!--begin::Body-->
                        <div class="card-body py-12">
                            <!--begin::Icon-->
                            {% for s in object.social_media.all %}
                                <a href="https://{{ s.link }}" class="mx-4">
                                    <img src="{{ s.image.url }}" class="h-30px my-2"
                                         alt="{{ s.title }}">
                                </a>
                            {% endfor %}
                            <!--end::Icon-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::About card-->
        </div>
    </div>
{% endblock %}