{% extends 'shared/main_.html' %}
{% load static %}
{% block title %}تورک پارکر{% endblock %}
{% block desc %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}

    <div id="container">
        <main id="main">
            <div class="inside">
                <div class="mod_article first last block" id="article-80">
                    <!--video-->
                    <div class="ce_headervideo first block">
                        <div class="header-video-wrapper overlayed">
                            <video poster="bundles/viacorbasic/img/HP-Video-Placeholder.webp" preload="none" loop
                                   autoplay muted playsinline>
                                <source src="files/videos/hp-video-l-loop.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="header-video-content">
                            <div class="header-video-play" title="Play full video">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="34">
                                    <path class="play-icon" d="M0 33.36V0l23.43 16.68ZM1.92 3.78v25.9l18.2-13Z"/>
                                    <g class="pause-icon">
                                        <rect class="pause-line line-left" width="2" height="34"/>
                                        <rect class="pause-line line-right" width="2" height="34"
                                              transform="translate(16 0)"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="header-video-text">
                                <h1 class="header-video-title">Live on it.</h1>
                                <p>Viacor and you</p></div>
                        </div>
                    </div>
                    <!--end video-->
                    <!--category-->
                    <div class="ce_sliderStart card-slider block">
                        <div class="inside">
                            <h2 class="title">محصولات</h2>
                            <div dir="rtl" class="swiper content-slider">
                                <div class="swiper-wrapper">
                                    {% for a in category %}
                                        <div class="ce_categorycard swiper-slide sport block">
                                            <div class="wrapper">
                                                <a href="{% url 'product:categoryList' a.slug %}">
                                                    <p class="card-title"> {{ a.title }} </p>
                                                    <span class="plus-icon"></span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div><!-- .swiper-wrapper -->
                                <div class="slider-control">
                                    <div class="swiper-button-prev slider-prev"></div>
                                    <div dir="rtl" class="swiper-scrollbar"></div>
                                    <div class="swiper-button-next slider-next"></div>
                                    <script>
                                        $(document).ready(function () {
                                            $('.swiper-scrollbar-drag').css('right', "0")
                                        })
                                    </script>
                                </div>
                            </div><!-- .swiper -->
                        </div>
                    </div>
                    <!-- blog -->
                    <div class="mod_newslist block">
                        <div class="news_teaser-container">
                            <div class="section-titles">
                                <span class="category">مقالات</span>
                                <a href="{% url 'blog:PostList' %}"><h2 class="title">مقالات بیشتر</h2></a>
                            </div>
                            <div class="news_teaser-wrap">
                                <div class="news_teaser arc_3 block featured featured_first first even has-image case-studies parking"
                                     data-filter='case-studies parking' itemtype="http://schema.org/Article">
                                    <div class="news_teaser-image-wrap">
                                        <picture>
                                            <img src="{{ blog.image.url }}"
                                                 width="810" height="350" alt="{{ blog.title }}" loading="lazy"
                                                 itemprop="image">
                                        </picture>
                                    </div>
                                    <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ blog.category.first }}
                                        </span>
                                        <h2 itemprop="name"><a href="{% url 'blog:SinglePost' blog.slug %}"

                                                               itemprop="url"><span
                                                itemprop="headline">{{ blog.title }}</span></a>
                                        </h2>
                                        <div class="ce_text block" itemprop="description">
                                            <p>دسته: {% for a in blog.category.all %}{{ a.title }},{% endfor %}</p>
                                        </div>
                                        <p class="more"><a href="{% url 'blog:SinglePost' blog.slug %}"
                                                           title="خواندن مقاله:{{ blog.title }}"
                                                           itemprop="url">مطالعه<span
                                                class="invisible">{{ blog.title }}</span></a>
                                        </p>
                                    </div>
                                </div>
                                {% for c in blog_ %}
                                    <div class="news_teaser arc_3 block odd has-image logistics industry manufacturing"
                                         data-filter='logistics industry manufacturing' itemscope
                                         itemtype="http://schema.org/Article">
                                        <figure class="image_container float_above">
                                            <a href="{% url 'blog:SinglePost' c.slug %}">
                                                <picture>
                                                    <img src="{{ c.image.url }}"
                                                         width="395" height="350" alt="{{ c.title }}" loading="lazy"
                                                         itemprop="image">
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ c.category.first }}        </span>
                                            <h2 itemprop="name"><a
                                                    href="{% url 'blog:SinglePost' c.slug %}"
                                                    itemprop="url"><span itemprop="headline">{{ c.title }}</span></a>
                                            </h2>
                                            <p class="more"><a
                                                    href="{% url 'blog:SinglePost' c.slug %}"
                                                    itemprop="url"></a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- blog -->
                    <!-- product -->
                    <div class="mod_newslist block">
                        <div class="news_teaser-container">
                            <div class="section-titles">
                                <span class="category">محصولات</span>
                                <a href="{% url 'product:ProductList' %}"><h2 class="title">محصولات بیشتر</h2></a>
                            </div>
                            <div class="news_teaser-wrap">
                                <div class="news_teaser arc_3 block featured featured_first first even has-image case-studies parking"
                                     data-filter='case-studies parking' itemtype="http://schema.org/Article">
                                    <div class="news_teaser-image-wrap">
                                        <picture>
                                            <img src="{{ product_.image.url }}"
                                                 width="810" height="350" alt="{{ product_.title }}" loading="lazy"
                                                 itemprop="image"> {{ product_ }}
                                        </picture>
                                    </div>
                                    <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ product_.category.first }}
                                        </span>
                                        <h2 itemprop="name"><a href=""

                                                               itemprop="url"><span
                                                itemprop="headline">{{ product_.title }}</span></a>
                                        </h2>
                                        <p class="more"><a href=""
                                                           title="مشاهده:{{ product_.title }}"
                                                           itemprop="url">مشاهده<span
                                                class="invisible">{{ product_.title }}</span></a>
                                        </p>
                                    </div>
                                </div>
                                {% for c in product %}
                                    <div class="news_teaser arc_3 block odd has-image logistics industry manufacturing"
                                         data-filter='logistics industry manufacturing' itemscope
                                         itemtype="http://schema.org/Article">
                                        <figure class="image_container float_above">
                                            <a href="{% url 'blog:SinglePost' c.slug %}">
                                                <picture>
                                                    <img src="{{ c.image.url }}"
                                                         width="395" height="350" alt="{{ c.title }}" loading="lazy"
                                                         itemprop="image">
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ c.category.first }}        </span>
                                            <h2 itemprop="name"><a
                                                    href="{% url 'blog:SinglePost' c.slug %}"
                                                    itemprop="url"><span itemprop="headline">{{ c.title }}</span></a>
                                            </h2>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- product -->
                    <!-- project -->
                    <div class="mod_newslist block">
                        <div class="news_teaser-container">
                            <div class="section-titles">
                                <span class="category">پروژه ها</span>
                                <a href="{% url 'project:ProjectList' %}"><h2 class="title">پروژه های بیشتر</h2></a>
                            </div>
                            <div class="news_teaser-wrap">
                                <div class="news_teaser arc_3 block featured featured_first first even has-image case-studies parking"
                                     data-filter='case-studies parking' itemtype="http://schema.org/Article">
                                    <div class="news_teaser-image-wrap">
                                        <picture>
                                            <img src="{{ project.image.url }}"
                                                 width="810" height="350" alt="{{ project.title }}" loading="lazy"
                                                 itemprop="image">
                                        </picture>
                                    </div>
                                    <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ project.category.first }}
                                        </span>
                                        <h2 itemprop="name"><a href="{% url 'project:Project' project.slug %}"

                                                               itemprop="url"><span
                                                itemprop="headline">{{ project.title }}</span></a>
                                        </h2>

                                        <p class="more"><a href="{% url 'project:Project' project.slug %}"
                                                           title="مشاهده:{{ project.title }}"
                                                           itemprop="url">مشاهده<span
                                                class="invisible">{{ project.title }}</span></a>
                                        </p>
                                    </div>
                                </div>
                                {% for c in project_ %}
                                    <div class="news_teaser arc_3 block odd has-image logistics industry manufacturing"
                                         data-filter='logistics industry manufacturing' itemscope
                                         itemtype="http://schema.org/Article">
                                        <figure class="image_container float_above">
                                            <a href="{% url 'blog:SinglePost' c.slug %}"
                                                <picture>
                                                    <img src="{{ c.image.url }}"
                                                         width="395" height="350" alt="{{ c.title }}" loading="lazy"
                                                         itemprop="image">
                                                </picture>
                                            </a>
                                        </figure>
                                        <div class="news_teaser-content-wrap">
                                        <span class="tag-chain tag-chain-item">
                                        {{ c.category.first }}        </span>
                                            <h2 itemprop="name"><a
                                                    href="{% url 'blog:SinglePost' c.slug %}"
                                                    itemprop="url"><span itemprop="headline">{{ c.title }}</span></a>
                                            </h2>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- project -->
                    <div class="tabs-wrap">
                        <div class="tab-header section-titles">
                            <p class="subheadline">مزایا</p>
                            <h2 class="title">چرا تورک پارکر:</h2>
                        </div>
                        <div class="tabs-content">
                            <ul class="ce_tabcontrol nav nav-tabs" id="tabcontrol_tabs_1858" role="tablist"
                                data-remember-last-tab="true">
                                <li class="nav-item">
                                    <a class="tab-link nav-link active" id="user_1858-tab" data-tab="user_1858"
                                       href="#user_1858" role="tab" aria-controls="user_1858"
                                       aria-selected="true">User</a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab-link nav-link " id="installer_1860-tab" data-tab="installer_1860"
                                       href="#installer_1860" role="tab" aria-controls="installer_1860"
                                       aria-selected="">installer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab-link nav-link " id="planner_1862-tab" data-tab="planner_1862"
                                       href="#planner_1862" role="tab" aria-controls="planner_1862" aria-selected="">planner</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabcontrol_content_1858">
                                <div class="tab-pane fade active" id="user_1858" role="tabpanel"
                                     aria-labelledby="user_1858">
                                    <div class="ce_fulltext block">
                                        <div class="wrapper">
                                            <ul>
                                                {% for b in why %}
                                                <li>
                                                    {{ b.body }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="installer_1860" role="tabpanel"
                                     aria-labelledby="installer_1860-tab">
                                    <div class="ce_fulltext block">
                                        <div class="wrapper">
                                            <ul>
                                                <li>Individual advice and flooring solutions for demanding areas</li>
                                                <li>Sample creation and support on the construction site by the
                                                    application technology
                                                </li>
                                                <li>Products that are easy and quick to process</li>
                                                <li>Fast and reliable delivery to all continents</li>
                                                <li>Processor training courses as a certified specialist company</li>
                                                <li>Support from planning to acceptance</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="planner_1862" role="tabpanel"
                                     aria-labelledby="planner_1862-tab">
                                    <div class="ce_fulltext block">
                                        <div class="wrapper">
                                            <ul>
                                                <li>Tender texts for all products and systems</li>
                                                <li>BIM data in form of&nbsp; IFC-files or native Allplan-datas of the
                                                    systems
                                                </li>
                                                <li>Certified and tested flooring systems (MVV TB, AgBB, BREEAM...)</li>
                                                <li>Advice and recommendations from our specialists</li>
                                                <li>If required, sample creation or sample area creation</li>
                                                <li>Innovative products and systems - state of the art</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}