{% extends 'shared/main_.html' %}
{% load productTT %}
{% load static %}
{% block title %}محصولات | {{ object.title }}{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside rtl">
                <div class="mod_article first last block" id="article-175">
                    <div class="ce_headercategory first block">
                        <div class="wrapper header-2-col-wrapper">
                            <div class="header-left-column">
                                <ul class="cols_4" itemscope itemtype="http://schema.org/ImageGallery">
                                    <li class="row_0 row_first row_last even col_0 col_first">
                                        <figure class="image_container">
                                            <picture>
                                                <img src="{{ object.image.url }}"
                                                     alt="" itemprop="image">
                                            </picture>
                                        </figure>
                                    </li>
                                    <li class="row_0 row_first row_last even col_1">
                                        <figure class="image_container">
                                            <picture>
                                                <img src="{{ object.image2.url }}"
                                                     alt="" itemprop="image">
                                            </picture>
                                        </figure>
                                    </li>
                                    <li class="row_0 row_first row_last even col_2">
                                        <figure class="image_container">
                                            <picture>
                                                <img src="{{ object.image3.url }}"
                                                     width="300" height="600" alt="" itemprop="image">
                                            </picture>
                                        </figure>
                                    </li>
                                    <li class="row_0 row_first row_last even col_3 col_last">
                                        <figure class="image_container">
                                            <picture>
                                                <img src="{{ object.image4.url }}"
                                                     width="1920" height="1280" alt="" itemprop="image">
                                            </picture>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-right-column">
                                <div class="text-content-wrap">
                                    <h1>{{ object.title }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ce_separation block">
                        <div class="wrapper">
                            <p>{{ object.description }}</div>
                    </div>
                    {% if object.Child.count != 0 %}
                        <div class="mod_categorylist ce_sliderStart card-slider category-card-slider">
                            <div class="inside">
                                <h2 class="title">دسته ها</h2>
                                <div class="swiper content-slider">
                                    <div class="swiper-wrapper">
                                        {% for a in object.Child.all %}
                                            <div class="ce_subcategorycard swiper-slide"
                                                 data-subcategory="tennisplaetze">
                                                <div class="wrapper">
                                                    <figure class="image_container">
                                                        <picture>
                                                            <img src="{{ a.image.url }}"
                                                                 width="420" height="600" alt="{{ a.title }}"
                                                                 loading="lazy"
                                                                 itemprop="image">
                                                        </picture>
                                                    </figure>
                                                    <h3 class="card-title">{{ a.title }}</h3>
                                                    <a href="{% url 'product:categoryList' a.slug  %}"><div class="plus-icon"></div></a>
                                                </div>
                                                <div class="block-text">
                                                    <p>{{ a.description }}</p></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="slider-control">
                                        <div class="swiper-button-prev slider-prev"></div>
                                        <div class="swiper-scrollbar"></div>
                                        <div class="swiper-button-next slider-next"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- indexer::stop -->
                    <div class="mod_systemlist">
                        <div class="inside">
                            <div class="system-wrapper mt-10">
                                <div class="system-filters-wrap ">
                                    <ul class="system-filters-list">
                                        <li>
                                            <a href="{% url 'product:ProductList' %}"
                                               class="system-teaser-filter all-filter"
                                               data-subcategory="*">همه</a>
                                        </li>
                                        {% if object.Child.count != 0 %}
                                            {% for b in object.Child.all %}
                                                <li>
                                                    <a href="{% url 'product:categoryList' b.slug  %}" class="system-teaser-filter"
                                                       data-subcategory="{{ b.title }}">{{ b.title }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="system-list-grid">
                                    {% for b in object.ProductCategory.all %}
                                        <div class="system-teaser" data-subcategory="{{ b.title }}">
                                                <figure class="image_container">
                                                    <picture>
                                                        <source srcset="{{ b.image.url }}"
                                                                type="image/webp" width="650" height="366">
                                                        <img src="{{ b.image.url }}"
                                                             width="650" height="366" alt="{{ b.title }}" loading="lazy"
                                                             itemprop="image">
                                                    </picture>
                                                </figure>
                                                <div class="system-teaser_content-wrapper">
                                                    <h3 class="system-teaser_title">{{ b.title }}</h3>
                                                    <p class="system-teaser_desc">
                                                        {{ b.description|truncatewords:20 }}
                                                    </p>
                                                    <a href="{% url 'product:product' b.slug %}"
                                                       class="system-teaser_read-more">
                                                        <span class="invisible">{{ b.title }}</span>
                                                    </a>
                                                </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- indexer::continue -->
                    {% contact %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}