{% extends 'shared/main_.html' %}
{% load static %}
{% block title %} محصول | {{ object.title }}{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside">
                <div class="mod_article first last block" id="article-169">
                    <!-- indexer::stop -->
                    <div class="ce_headerdark first block">
                        <div class="wrapper">
                            <div class="text-content-wrap">
                                <h1>محصولات</h1>
                            </div>
                        </div>

                    </div>
                    <div class="mod_productlist">
                        <div class="inside">
                            {% for a in category %}
                                <section class="ce_accordion ce_text block">
                                    <div class="accordion-simple_inner">
                                        <div class="accordion-simple_toggler toggler">


                                            <h2 class="accordion-simple_title">{{ a.title }}</h2>
                                             <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg" class="dropdown-icon-dark"
                                                    width="17.65" height="10.1">
                                                    <path d="m0 1.27 8.83 8.83 8.82-8.83L16.38 0 8.83 7.55 1.28 0Z" fill="#3b3b3b"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="accordion-simple_content accordion">
                                            <div>
                                                <div class="product-list-grid">
                                                    {% for b in a.ProductCategory.all %}
                                                        <div class="product-teaser">
                                                            <h3 class="product-teaser_title">{{ b.title }}</h3>
                                                            <a href="{% url 'product:product' b.slug %}"
                                                               class="product-teaser_read-more">
                                                            </a>

                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- indexer::continue -->
                </div>
            </div>
        </main>
    </div>
{% endblock %}