{% extends 'shared/main_.html' %}
{% load static %}
{% block title %} محصول | {{ object.title }}{% endblock %}
{% block desc %}{{ object.description }}{% endblock %}
{% block keywords %}{{ object.keyword }}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside">
                <div class="mod_article first last block" id="article-169">
                    <!-- indexer::stop -->
                    <div class="ce_headerdark first block">
                        <div class="wrapper">
                            <div class="text-content-wrap">
                                <h1> {{ object.title }}</h1>
                            </div>
                        </div>

                    </div>
                    <div class="mod_productlist">
                        <div class="inside">
                                <section class="ce_accordion ce_text block">
                                    <div class="accordion-simple_inner">
                                        <div class="accordion-simple_toggler toggler">
                                            <h2 class="accordion-simple_title">{{ object.title }}</h2>
                                        </div>
                                        <div class="accordion-simple_content accordion">
                                            <div>
                                                <div class="product-list-grid">
                                                    {% for b in object_list %}
                                                        <div class="product-teaser">
                                                            <h3 class="product-teaser_title">{{ b.title }}</h3>
                                                            <a href="{% url 'product:product' b.slug %}"
                                                               class="product-teaser_read-more">
                                                            </a>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        </div>
                    </div>
                    <!-- indexer::continue -->
                </div>
            </div>
        </main>
    </div>
{% endblock %}