<div class="inside">

    <div class="right pe-5">
        <div class="inner-row top-row">
            <div class="logo-wrapper" dir="rtl">
                <a href="/">
                    <img src="{{ logo.image.url }}" alt="{{ logo.title }}">
                </a>
            </div>
            <div class="contact-info " dir="ltr">
                <a href="tel:{{ com.phone }}" class="tel">
                        <span>
                            <svg id="phone-icon"
                                 xmlns="http://www.w3.org/2000/svg" width="33.646"
                                 height="33.708" viewBox="0 0 33.646 33.708">
                                        <g id="Ebene_2" data-name="Ebene 2" transform="translate(0 0.011)">
                                            <g id="Ebene_1" data-name="Ebene 1">
                                                <path id="Path_1576" data-name="Path 1576"
                                                      d="M14,6.88,9.32,1.08A2.89,2.89,0,0,0,5,.85L1.64,4.22A5.63,5.63,0,0,0,.75,11l.83,1.43A52.14,52.14,0,0,0,21.31,31.89L23.36,33A5.66,5.66,0,0,0,30,32.12l2.78-2.74a2.92,2.92,0,0,0,.86-2.26A3,3,0,0,0,32.53,25l-6.94-5.26a2.9,2.9,0,0,0-2.46-.5l-2.74.68a1.11,1.11,0,0,1-1-.23l-5-4.26a1.08,1.08,0,0,1-.38-1l.65-5.38A2.94,2.94,0,0,0,14,6.88Zm4.21,14.17a2.88,2.88,0,0,0,2.58.61L23.57,21a1.08,1.08,0,0,1,.93.2l6.94,5.26a1.1,1.1,0,0,1,.11,1.67l-2.77,2.74a3.85,3.85,0,0,1-4.55.61l-2-1.14a50.15,50.15,0,0,1-19-18.78L2.31,10.1a3.83,3.83,0,0,1,.61-4.61L6.28,2.13h0a1.11,1.11,0,0,1,.78-.33h.06a1.13,1.13,0,0,1,.81.41L12.63,8a1.12,1.12,0,0,1,.24.83l-.65,5.39a2.87,2.87,0,0,0,1,2.56Z"
                                                      fill="#C5C4BE">

                                                </path>
                                            </g>
                                        </g>
                            </svg>
                        </span>
                    {{ com.phone }}
                </a>
                <a href="mailto:{{ com.email }}" class="mail">
                        <span>
                            <svg id="mail-icon" data-name="Ebene 1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="33.8" height="27.8"
                                 viewBox="0 0 33.8 27.8">
                            <path id="Path_1573" data-name="Path 1573"
                                  d="M0,27.8H33.8V0H0ZM19.09,13.44a3.11,3.11,0,0,1-4.38,0L3.07,1.8H30.73ZM32,3.07V16.73L25.17,9.9ZM8.63,9.9,1.8,16.73V3.07ZM1.8,26V19.27l8.1-8.1,3.54,3.54a4.91,4.91,0,0,0,6.93,0l3.53-3.54,8.1,8.1V26Z"
                                  fill="#C5C4BE"></path>
                            </svg>
                        </span>
                    {{ com.email }}
                </a>
            </div>
        </div>
        <div class="inner-row bottom-row">
            <div class="social-links">
                <p>بروزباشید.</p>
                <ul>
                    {% for g in social %}
                    <li class="instagram">
                        <a href="https://{{ g.link }}" class="me-3" target="_blank" rel="nofollow">
                            <img src="{{ g.image.url }}" alt="{{ g.title }}" width="34.147" height="34.146">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="left ps-5">
        <!-- indexer::stop -->
        <nav class="mod_customnav quicklinks block" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <a href="en/index.html#skipNavigation10" class="invisible">Skip navigation</a>
            <div class="submenu level_1">
                <ul class="level_1">
                    <li class="first">
                        <a href="{% url 'blog:PostList' %}" title="مقالات" class="first" itemprop="url">
                                <span
                                        class="fnt-size-25 iran" itemprop="name">
                                    مقالات
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'product:ProductList' %}" title="محصولات"

                           itemprop="url">
                                <span style="font-size: 25px" itemprop="name">
                                    محصولات
                                </span>
                        </a>
                    </li>
                    <li class="unternehmen">
                        <a href="{% url 'project:ProjectList' %}"
                           title="پروژه ها"
                           class="unternehmen" itemprop="url">
                                <span style="font-size: 25px"
                                      itemprop="name">
                                    پروژه ها
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'catalog:List' %}" title="کاتالوگ ها" itemprop="url">
                                <span style="font-size: 25px"
                                      itemprop="name">
                                        کاتالوگ ها
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'content:contactus' %}" title="تماس باما" itemprop="url">
                                <span style="font-size: 25px"
                                      itemprop="name">
                                    تماس باما
                                </span>
                        </a>
                    </li>
                    <li class="last">
                        <a href="{% url 'content:about' %}"
                           title="درباره ما" class="last"
                           itemprop="url">
                                <span style="font-size: 25px" itemprop="name">
                                    درباره ما
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <a id="skipNavigation10" class="invisible">&nbsp;</a>
        </nav>
        <!-- indexer::continue -->
        <!-- indexer::stop -->
        <nav class="mod_customnav servicelinks block" itemscope=""
             itemtype="http://schema.org/SiteNavigationElement">
            <a href="en/index.html#skipNavigation7" class="invisible">Skip navigation</a>
            <div class="submenu level_1">
                <div class="row">
                    {% for a in licence %}
                        <div class="col-lg-6 col-md-6 col-12 text-center">
                            <img src="{{ a.image.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a id="skipNavigation7" class="invisible">&nbsp;</a>
        </nav>
        <!-- indexer::continue -->
    </div>
</div>