<div class="d-flex container-xl flex-column flex-md-row align-items-center justify-content-between">
    <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10 mt-20">
        <!--begin::Order details-->
        <div class="py-4 col-6 flex-row-fluid">
            <!--begin::Card header-->
            <h2 class="text-muted mb-5">درباره تورک پارکر
            </h2>
            {#            <img alt="تورک پارکر" src="{{ logo.image.url }}" class="w-200px">#}
            <!--end::Card header-->
            <!--begin::Card body-->
            <h7 class="text-muted">{{ object.body|safe }}</h7>

            <!--end::Card body-->
        </div>
        <!--end::Order details-->
        <!--begin::Customer details-->
        <div class="py-4 col-2 flex-row-fluid">
            <!--begin::Card header-->
            <h2 class="text-muted mb-5">دسترسی سریع</h2>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="fw-bold my-5 my-lg-0">
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'blog:PostList' %}">
                        مقالات
                    </a>
                </div>
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'product:ProductList' %}">
                        محصولات
                    </a>
                </div>
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'project:ProjectList' %}">
                        پروژه ها
                    </a>
                </div>
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'catalog:List' %}">
                        کاتالوگ</a>
                </div>
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'content:contactus' %}">
                        تماس با ما
                    </a>
                </div>
                <div class="mb-3">
                    <a class="text-muted text-hover-primary" href="{% url 'content:about' %}">
                        درباره ما
                    </a>
                </div>
            </div>

            <!--end::Card body-->
        </div>
        <!--end::Customer details-->
        <!--begin::Documents-->

        <div class="py-4 d-flex col-2 flex-column">
            <h2 class="text-muted mb-5">ارتباط با ما</h2>
            <div class="p-2 "><i class="las la-mobile-alt me-2 text-success fs-2x"></i><a
                    class="text-muted text-hover-primary" href="tel:{{ com.phone }}">{{ com.phone }}</a></div>
            <div class="p-2 "><i class="las la-tty text-success me-2 fs-2x"></i><a class="text-muted text-hover-primary"
                                                                                   href="tel:{{ com.tel }}">{{ com.tel }}</a>
            </div>
        </div>
        <div class="py-4">
            <h2 class="text-muted mb-5">مجوز ها</h2>
            <div class="tns">
                <div data-tns-controls="false">
                    <!--begin::Item-->
                    {% for licence in licence %}
                        <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                            <a href="{{ licence.image.url }}"><img src="{{ licence.image.url }}"
                                                                   class="card-rounded shadow mw-150px"
                                                                   alt="{{ licence.title }}"/></a>
                        </div>
                    {% endfor %}
                    <!--end::Item-->
                    ...
                </div>
            </div>
        </div>
        <!--end::Documents-->
    </div>
    <!--begin::Copyright-->
    <!--end::Copyright-->
</div>
<div class="container-xxl">
    <div class="rounded border border-dashed p-10">
        <div class="row">
            <div class="col-6">
                <h5>آدرس دفتر:</h5>
                <h7 class="text-muted">{{ com.address }}</h7>
            </div>
            <div class="col-6">
                <h5>آدرس کارخانه:</h5>
                <h7 class="text-muted">{{ com.address1 }}</h7>
            </div>
        </div>
    </div>
</div>