<div class="menu menu-column menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold"
     id="#kt_aside_menu" data-kt-menu="false">
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start"
         class="menu-item {% if app == 'blog' %}here show{% else %}{% endif %} py-2">
        <a class="menu-link {% if app == 'blog' %}active{% else %}{% endif %}"
           href="{% url 'blog:PostList' object.slug %}">
									<span class="menu-link menu-center" title="مقالات" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="las la-blog fs-3x"></i>
										</span>
                                    </span></a>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start"
         class="menu-item {% if request.resolver_match.app_name == '' %}here show{% else %}{% endif %} py-2">

        <a class="menu-link {% if request.resolver_match.app_name == '' %}active{% else %}{% endif %}"
           href="">
									<span class="menu-link menu-center" title="چارت تکنیکال" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="lar la-chart-bar"></i>
										</span>
                                    </span></a>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="ویدئو" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="lab la-youtube fs-3x"></i>
										</span>
									</span>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="هوش مصنوعی" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="lab la-mendeley"></i>
										</span>
									</span>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="پرتفوی من" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="las la-bookmark"></i>
										</span>
									</span>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="واچ لیست" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="las la-list-ol"></i>
										</span>
									</span>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="فیلتر" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="las la-funnel-dollar"></i>
										</span>
									</span>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
									<span class="menu-link menu-center" title="ابزارها" data-bs-toggle="tooltip"
                                          data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
										<span class="menu-icon me-0">
											<i class="las la-toolbox"></i>
										</span>
									</span>
    </div>
</div>
