
.gallery_sliderblock .swiper {
    width: 100%;
    position: absolute
}
.gallery_sliderblock .swiper .swiper-slide {
    background-size: cover;
    background-position: center;
    background: #FFFFFF
}
.gallery_sliderblock .swiper .swiper-slide .image_container {
    display: block;
    width: 100%;
    height: 100%
}
.gallery_sliderblock .swiper .swiper-slide .image_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center
}
.gallery_sliderblock .swiper.mySwiper2 {
    width: 100%;
    height: 70%;
    top: 0;
    left: 0
}
.gallery_sliderblock .swiper.mySwiper {
    height: 30%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 87%
}
.gallery_sliderblock .swiper.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4
}
.gallery_sliderblock .swiper.mySwiper .swiper-slide.swiper-slide-thumb-active {
    opacity: 1
}
.gallery_sliderblock .swiper-navigation {
    width: 13%;
    background: #3B3B3B;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30%;
    padding: 2.5%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}
.gallery_sliderblock .swiper-navigation .swiper-navigation-prev,
.gallery_sliderblock .swiper-navigation .swiper-navigation-next,
.gallery_sliderblock .swiper-navigation .swiper-navigation-fullscreen {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30%;
    cursor: pointer;
    user-select: none
}
.gallery_sliderblock .swiper-navigation .swiper-navigation-prev svg,
.gallery_sliderblock .swiper-navigation .swiper-navigation-next svg,
.gallery_sliderblock .swiper-navigation .swiper-navigation-fullscreen svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
    transition: all 400ms
}
.gallery_sliderblock .swiper-navigation .swiper-navigation-prev:hover svg,
.gallery_sliderblock .swiper-navigation .swiper-navigation-next:hover svg,
.gallery_sliderblock .swiper-navigation .swiper-navigation-fullscreen:hover svg {
    transform: scale(1.1)
}
.gallery_sliderblock .swiper-navigation .swiper-navigation-prev:last-child,
.gallery_sliderblock .swiper-navigation .swiper-navigation-next:last-child,
.gallery_sliderblock .swiper-navigation .swiper-navigation-fullscreen:last-child {
    margin-bottom: 0
}