{% extends 'shared/main_.html' %}
{% load static %}
{% load BlogTT %}
{% block title %}کاتالوگ ها{% endblock %}
{% block desc %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
    <div id="container">
        <main id="main">
            <div class="inside rtl">
                <div class="mod_article first last block" id="article-86">
                    <div class="ce_headerdark first block">
                        <div class="wrapper">
                            <div class="text-content-wrap">
                                <h1>کاتالوگ</h1>
                            </div>
                        </div>
                    </div>
                    <div class="ce_headertext block">
                        <div class="wrapper">
                            <div class="text-content-wrap">
                                <div class="header-headline-wrap">
                                    <span class="category">
                                        کاتالوگ ها
                                    </span>
                                </div>
                                <div class="header-text-wrap"><p><span class="Y2IQFc" lang="en">
                                    می توانید کاتالوگ محصولات و مرجع برندهای تورک پارکر را بررسی کنید. برای اطلاعات بیشتر در مورد برندها و محصولات ما با ما تماس بگیرید.

                                </span>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="ce_sliderStart card-slider tools block d-none">
                        <div class="inside">
                            <div class="swiper content-slider">
                                <div class="swiper-wrapper">
                                    {% for a in object_list %}
                                    <div class="ce_slidercard swiper-slide  block mx-3">
                                        <div class="wrapper">
                                            <a href="{{ a.file.url }}">
                                                <figure class="image_container float_above ">
                                                    <picture>
                                                        <img src="{{ a.image.url }}"
                                                             srcset="{{ a.image.url }} 1x, {{ a.image.url }} 2x"
                                                             width="420" height="600" alt="{{ a.title }}" loading="lazy"
                                                             itemprop="image">{{ a.image.url }}
                                                    </picture>
                                                </figure>
                                                <p class="card-title">{{ a.title }}</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div><!-- .swiper-wrapper -->
                                <div class="slider-control">
                                    <div class="swiper-button-prev slider-prev"></div>
                                    <div class="swiper-scrollbar"></div>
                                    <div class="swiper-button-next slider-next"></div>
                                </div>
                            </div><!-- .swiper -->
                        </div>
                    </div>
                    <div class="ce_sliderStart card-slider block">
                        <div class="inside">
                            <h2 class="title">Application areas</h2>
                            <div dir="rtl" class="swiper content-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                                <div class="swiper-wrapper" id="swiper-wrapper-a5f755bfd2a6e8110" aria-live="polite">
                                    <div class="ce_categorycard swiper-slide sport block swiper-slide-active" role="group" aria-label="1 / 5">
                                        <div class="wrapper">
                                            <a href="en/systems/sports-and-fun-floorings.html">
                                                <p class="card-title">Sports &amp; Fun</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ce_categorycard swiper-slide industry block swiper-slide-next" role="group" aria-label="2 / 5">
                                        <div class="wrapper">
                                            <a href="en/systems/industry-production-logistics-flooring-systems.html">
                                                <p class="card-title">Industry Production Logistics</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ce_categorycard swiper-slide health block" role="group" aria-label="3 / 5">
                                        <div class="wrapper">
                                            <a href="en/systems/healthcare-and-gastronomy-flooring-systems.html">
                                                <p class="card-title">Healthcare &amp; Gastro­nomy</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ce_categorycard swiper-slide parking block" role="group" aria-label="4 / 5">
                                        <div class="wrapper">
                                            <a href="en/systems/car-parking-flooring-systems.html">
                                                <p class="card-title">Parking</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ce_categorycard swiper-slide spaces block ms-4" role="group" aria-label="5 / 5">
                                        <div class="wrapper">
                                            <a href="systeme/public-private.html">
                                                <p class="card-title">Public &amp; Private</p>
                                                <span class="plus-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .swiper-wrapper -->
                                <div class="slider-control">
                                    <div class="swiper-button-prev slider-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-a5f755bfd2a6e8110" aria-disabled="true"></div>
                                    <div dir="rtl" class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); right: 0px; width: 888.85px;"></div></div>
                                    <div class="swiper-button-next slider-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-a5f755bfd2a6e8110" aria-disabled="false"></div>
                                    <script>
                                        $(document).ready(function () {
                                            $('.swiper-scrollbar-drag').css('right', "0")
                                        })
                                    </script>
                                </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div><!-- .swiper -->
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
{% endblock %}