{% extends 'shared/main.html' %}
{% load static %}
{% load BlogTT %}
{% block title %}کاتالوگ ها{% endblock %}
{% block desc %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
    <div class="row g-10 row-cols-2 row-cols-lg-5">
        <!--begin::Col-->
        {% for a in object_list %}
        <div class="col">
            <!--begin::Overlay-->
            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales"
               href="{{ a.file.url }}">
                <!--begin::Image-->
                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                     style="background-image:url('{{ a.image.url }}')"></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                </div>
                <!--end::Action-->
            </a>
        </div>
        {% endfor %}
        <!--end::Col-->
    </div>
{% endblock %}