
		<div class="engage-toolbar d-flex position-fixed px-5 fw-bolder zindex-2 top-50 end-0 transform-90 mt-20 gap-2" style="z-index: 10">
			<!--begin::Demos drawer toggle-->
			<button id="kt_engage_demos_toggle" class="social-icon-box1 engage-demos-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 shadow-sm fs-6 px-4 rounded-top-0" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover" data-bs-original-title="Check out 20 more demos">
				<i class="fab fa-instagram social-icon1" style="font-size: 20px;"></i>
			</button>
			<!--end::Demos drawer toggle-->
			<!--begin::Help drawer toggle-->
			<button id="kt_help_toggle" class="social-icon-box2 engage-help-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 shadow-sm px-5 rounded-top-0" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover" data-bs-original-title="Learn &amp; Get Inspired">
				<i class="fab fa-twitter social-icon2" style="font-size: 20px;"></i>
			</button>
			<!--end::Help drawer toggle-->
			<!--begin::Purchase link-->
			<a href="https://1.envato.market/EA4JP" target="_blank" class="social-icon-box3 engage-purchase-link btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 px-5 shadow-sm rounded-top-0">
				<i class="fab fa-facebook social-icon3" style="font-size: 20px;"></i>
			</a>
			<a href="https://1.envato.market/EA4JP" target="_blank" class="social-icon-box4 engage-purchase-link btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 px-5 shadow-sm rounded-top-0">
				<i class="fab fa-whatsapp social-icon4" style="font-size: 22px;"></i>
			</a>
			<!--end::Purchase link-->
		</div>
		<style>

			.social-icon-box1{
				background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
				transition: opacity 300ms;
			}
			.social-icon1{
				color: #fff !important;
			}
			.social-icon-box1:hover{
				background: #fff !important;


			}
			.social-icon-box1:hover .social-icon1{
				color: #E4405F !important;
				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				transform: rotate(360deg);
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}
			.social-icon-box2{
				background-color: 	#1DA1F2 !important;
				transition: all 1s ease-in-out;
			}
			.social-icon2{
				color: #fff !important;
			}
			.social-icon-box2:hover{
				background-color: 	#fff !important;
			}
			.social-icon-box2:hover .social-icon2{
				color: 	#1DA1F2 !important;


				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				transform: rotate(360deg);
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}
			.social-icon-box3{
				background-color: #4267B2 !important;
				transition: all 1s ease-in-out;
			}
			.social-icon3{
				color: #fff !important;
			}
			.social-icon-box3:hover{
				background-color: 	#fff !important;
			}
			.social-icon-box3:hover .social-icon3{
				color: 	#4267B2 !important;

				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				transform: rotate(360deg);
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}
			.social-icon-box4{
				background-color: 	#25D366 !important;
				transition: all 1s ease-in-out;
			}
			.social-icon4{
				color: #fff !important;
			}
			.social-icon-box4:hover{
				background-color: 	#fff !important;
			}
			.social-icon-box4:hover .social-icon4{
				color: 	#25D366 !important;

				-webkit-transform: rotate(360deg);
				-moz-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				transform: rotate(360deg);
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}
		</style>