{% load static %}
<base href="../" />

    <meta charset="utf-8" />
    <meta
      name="description"
      content=""
    />
    <meta
      name="keywords"
      content=""
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content=""
    />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
        <link rel="stylesheet" href="{% static 'css/plugins.bundle.rtl.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.bundle.rtl.css' %}">

    <link rel="stylesheet" href="{% static 'css/web_bundles_contaobasic_css_reset.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_contaobasic_css_basic-video.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_contaobasic_css_basic-maps.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_video.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_swiper.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_productlist.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_systemreader.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_products_product_teaser.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_cardslider.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_categorycard.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_products_system_full.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_downloads.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_separation.scss.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_bigheadlinetext.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_news_news_teaser.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_newslist.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_partials_pagination.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_tabcontrol.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_fulltext.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_frontend_offcanvas.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_newsarchive.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_newsfilter.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_textgallery.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_member_fullwidth.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_partials_header-2-col-wrapper.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_news_news_full.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_image.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_newsreader.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_contaoprivacy_css_privacy.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_global.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_frontend_header.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_frontend_footer.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_frontend_social-links.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_partials_header_form.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_slidercard.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_text.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_dark.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_products_system_teaser.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_news_news_jobteaser.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_teamfilter.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_systemlist.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_modules_mod_systemfilter.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_gallery_gallery_sliderblock.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_subcategorycard.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_partnercard.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_member_team.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_joblisting.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_historysection.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_gallery.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_header_category.scss.css' %}">
    <link rel="stylesheet" href="{% static 'css/web_bundles_viacorbasic_css_elements_ce_ctatext.scss.css' %}">


        <script src="{% static 'js/scripts.bundle.js' %}"></script>
    <script src="{% static 'js/widgets.bundle.js' %}"></script>
    <script src="{% static 'js/plugins.bundle.js' %}"></script>
    <script src="{% static 'jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'bundles/heimrichhannotcontaoutils/js/contao-utils-bundle.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/ce_header_video.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/swiper-bundle.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/cardslider.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/ce_tabcontrol.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/menu.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/offcanvas.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/form_animation.js' %}"></script>
    <script src="{% static 'bundles/heimrichhannottabcontrol/contao-tab-control-bundle.js' %}"></script>
    <script src="{% static 'bundles/contaoprivacy/js/privacy.js' %}"></script>
    <script src="{% static 'bundles/viacorbasic/js/newsfilter.js' %}"></script>
