{% load static %}
<base href="../" />

    <meta charset="utf-8" />
    <meta
      name="description"
      content=""
    />
    <meta
      name="keywords"
      content=""
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content=""
    />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <link
      href="{% static 'plugins/global/plugins.bundle.rtl.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/style.bundle.rtl.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="canonical" href="" />
    <!--begin::Fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link
      href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
        rel="stylesheet"
        href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<link
      href="{% static 'plugins/custom/leaflet/leaflet.bundle.css' %}"
      rel="stylesheet"
      type="text/css"
    />
 <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.4.0/dist/css/lightgallery.min.css" />

