{% load static %}
<script>
    var hostUrl = "assets/";
</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->
<script src="{% static 'plugins/custom/leaflet/leaflet.bundle.js' %}"></script>
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/widgets.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/type.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/budget.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/settings.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/team.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/targets.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/files.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/complete.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/main.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
<script src="{% static 'js/custom/pages/general/contact.js' %}"></script>

<script src="{% static 'plugins/custom/fslightbox/fslightbox.bundle.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/targets.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-project/files.js' %}"></script>
<script src="{% static 'plugins/modules/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.3.0/sticky.min.js" integrity="sha512-3z3zGiu0PabNyuTAAfznBJFpOg4owG9oQQasE5BwiiH5BBwrAjbfgIe0RCdtHJ0BQV1YF2Shgokbz2NziLnkuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'plugins/custom/tiny-slider/tiny-slider.bundle.js' %}"></script>
