{% load static %}
<!DOCTYPE html>

<html lang="en" direction="rtl" dir="rtl" style="direction: rtl">
<!--begin::Head-->
<head>
    {% include 'shared/head.html' %}

    <title>{% block title %}{% endblock %}</title>
    <meta name="description"
          content="{% block desc %}{% endblock %}">
    <meta name="keywords"
          content="{% block keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}"/>
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
<!--begin::Main-->
<!--begin::Root-->
{% block content %}

            {% endblock %}
</body>
<!--end::Body-->
</html>
